* {
	margin: 0;
	color: white;
}
.pozadina {
	background-image: url(https://a.slack-edge.com/4030/img/wired/nasa-header-image.jpg);
	background-color: #999;
	position: relative;
	background-size: cover;
	background-position: center top;
}
html, body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color: #4A4A4A;
	font-weight: 600;
}

header {
	/*height: calc(100vh - 155px);*/
	position: relative;
	width: 100%;
	background-color: transparent;
	z-index: 100;
	min-height: 686px;
}
nav {
	height: 70px;
	line-height: 55px;
}
li {
	list-style: none;
}
header nav ul {
	display: inline-block;
	float: right;
}
header nav ul li {
	display: inline-block;
	list-style: none;
	margin-right: 22px;
}
a {
	text-decoration: none;
}
nav .logo {
	display: inline-block;
	background: url(https://a.slack-edge.com/66f9/img/landing/header_logo_sprite.png) left top no-repeat;
	background-size: 106px 60px;
	height: 30px;
	width: 106px;
	float: left;
	margin: 20px 0 0 15px;
}
.centar {
	min-height: 549px;
	width: 100%;
	bottom: 180px;
	text-align: center;
	padding-bottom: 70px;
	z-index: 100;
}
.centar_in {
	position: relative;
	top: 154px;
}
h1 {
	font-size: 60px;
	line-height: 4.46rem;
	font-weight: bold;
	width: 760px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	font-weight: 900;
	
}
h1 span {
	font-style: oblique;
}
.podnaslov_out {
	display: inline-block;
	padding: 32px;
	padding-top: 0;
}
.podnaslov_in {
	display: block;
	font-size: 1.38rem;
	line-height: 1.75rem;
	margin: 40px auto 22px;
	max-width: 869px;
	padding: 0;
	width: 100%;
	font-weight: 100;
}
.forma {
	position: relative;
	display: inline-block;
	background: rgba(0,0,0,.65);
	padding: 19px 48px;
	border-radius: 8px;
}
.upt_wrapper {
	display: inline-block;
	width: 252px;
}
.upitnik  {
	display: inline-block;
	padding: 11.8833px;
	border-radius: 4px;
	border: 1px solid #C5C5C5;
	height: auto;
	float: left;
	color: gray;
	font-size: 20px;
	width: 214px;
}
.create {
	display: inline-block;
	float: right;
	width: 184px;
	font-weight: 700;
	border: 1px solid #56B68B;
	border-radius: 4px;
	background: #56B68B;
	vertical-align: top !important;
	font-size: 18px;
	line-height: 49px;
	float: right;
	cursor: pointer;
}
.forma_footer {
	display: block;
	text-align: center;
	margin: 19px 0 0;
	width: 100%;
	font-size: 15px;
	font-weight: 100;
}
.forma_footer a {
	text-decoration: underline;
}
#lokacija_wrapper {
    font-size: 15px;
    line-height: 20px;
    position: absolute;
    bottom: -25px;
    right: 1.8rem;
    text-align: left;
}
#rover_lokacija {
	font-weight: 100;
}
#rover_lokacija i {
	margin-right: 5px;
}
#lokacija_wrapper a:hover {
	text-decoration: underline;
}
footer {
	background-color: transparent;
	position: relative;
	display: inline-block;
	bottom: 0;
	padding-top: 40px;
	border-top: 1px solid rgba(255,255,255,.1);
	z-index: 100;
	width: 100%;
}
.linkovi {
	box-sizing: border-box;
	max-width: 1014px;
	padding: 0 24px !important;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	display: block;
}
.foter_lista {
	display: inline-block;
	vertical-align: top;
	width: 23.8%;
}
.foter_lista ul {
	padding-left: 0;
	margin: 5%;
	margin-top: 0;
}
.foter_lista:nth-child(1) {
	margin-left: 0;
}
.foter_lista ul li a {
	line-height: 1.6rem;
	font-size: .6875rem;
	font-weight: 100;
	opacity: 0.7;
}
.foter_lista ul li {
	font-size: .6875rem;
	line-height: 1.6rem;
}
.foter_lista ul li a:hover {
	font-size: .6875rem !important;
	opacity: 1 !important;
}
.lista_naslov {
	font-weight: 900 !important;
	opacity: 1 !important;
}
.lista_naslov i {
	margin-left: 5px;
}
.fusnota {
	display: block;
	background-color: rgba(255,255,255,.12);
	margin-top: 1rem;
	height: 50px;
	position: relative;
	border: 0;
}
.gradient {
	z-index: 1;
	background: linear-gradient(to bottom,rgba(0,0,0,0) 0,#000 67%);
	height: 660px;
	width: 100%;
	position: absolute;
	bottom: 0;
}
.fus_section {
	clear: both;
	box-sizing: border-box;
	max-width: 1014px;
	padding: 9px 1.5rem !important;
	margin: 0 auto;
	width: 100%;
}
.fus_logo {
	opacity: 0.65;
	background: url(https://a.slack-edge.com/66f9/img/landing/header_logo_sprite.png) left top no-repeat;
	height: 30px;
	width: 32px;
	display: inline-block;
}
.fus_section ul {
	display: inline-block;
	float: right;
	vertical-align: center;
}
.fus_section li {
	display: inline-block;
	font-size: 13px;
	font-weight: 100;
	opacity: 0.65;
	margin-left: 7px;
}
.fus_section li a {
	line-height: 28px;
}
.fus_section li a i {
	font-size: 20px;
}